<h1>Barber Shop</h1>
<p>We're open</p>

<form method="POST" actoin="/">
<b>Your Name:</b> <input type="text" name="name" value=""><br>
<b>Your Phone:</b> <input type="text" name="phone" value=""><br>
<b>Visit Time:</b> <input type="date" name="vdate" value=""><br>
  <input type="submit" name="submit1" value="Send">
</form>